* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #47ffa9;
}

.game-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #47ff5c;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

#game-status {
    margin-top: 20px;
}

#difficulty-selection {
    margin-top: 20px;
}
